
.movieCard{
    min-height:230px;
    background-size:cover;
    position:relative;
}

.movieInfo{
    position: absolute;
    bottom: 0px;
    left:15px;
    background-color: #00000066;
    width: 100%;
    padding:10px;
}

.movieInfo h3{
    font-size: 18px;
}

.movieInfo p{
    font-size: 14px;
}

.movieInfo p, .movieInfo h3{
    margin:0px;
    width:100%;
    color:#ffffff;
}

.rate{
    font-size: 25px;
    color: #ffffff;
}